<!-- voter_analytics/templates/voter_analytics/search.html -->
<!-- Amy Ho, aho@bu.edu -->
{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1>Search Voters</h1>
    
    <table>
        <form action="{% url 'voters_list' %}">
            <tr>
                <th>Party Affiliation:</th>
                <td>
                    <select name="party">
                        <option value="">All Parties</option>
                        <option value="D ">Democratic</option>
                        <option value="R ">Republican</option>
                        <option value="U ">Unaffiliated</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <th>Born After:</th>
                <td>
                    <select name="min_year">
                        <option value="">Any Year</option>
                        {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            
            <tr>
                <th>Born Before:</th>
                <td>
                    <select name="max_year">
                        <option value="">Any Year</option>
                        {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            
            <tr>
                <th>Minimum Voter Score:</th>
                <td>
                    <select name="min_score">
                        <option value="">Any Score</option>
                        {% for score in scores %}
                        <option value="{{ score }}">{{ score }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            
            <tr>
                <th>Elections Voted In:</th>
                <td>
                    <label><input type="checkbox" name="elections" value="v20state"> 2020 State</label><br>
                    <label><input type="checkbox" name="elections" value="v21town"> 2021 Town</label><br>
                    <label><input type="checkbox" name="elections" value="v21primary"> 2021 Primary</label><br>
                    <label><input type="checkbox" name="elections" value="v22general"> 2022 General</label><br>
                    <label><input type="checkbox" name="elections" value="v23town"> 2023 Town</label>
                </td>
            </tr>
            
            <tr>
                <td><input type="submit" value="Search"></td>
                <td></td>
            </tr>
        </form>
    </table>
</div>
{% endblock %}