<!-- voter_analytics/templates/voter_analytics/voters.html -->
<!-- Amy Ho, aho@bu.edu -->
{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1>Voters</h1>
    <!-- pagination -->
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
    
    <!-- Voters Table -->
    <div class="voters-table">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>Date of Birth</th>
                <th>Party Affiliation</th>
                <th>Voter Score</th>
                <th>Details</th>
            </tr>
    
            {% for voter in voters %}
            <tr>
                <td>{{ voter.first_name }}</td>
                <td>{{ voter.last_name }}</td>
                <td>{{ voter.st_number }} {{ voter.st_name }}{% if voter.apt_num %}, Apt {{ voter.apt_num }}{% endif %}</td>
                <td>{{ voter.doB|date:"Y-m-d" }}</td>
                <td>{{ voter.party_affiliation }}</td>
                <td>{{ voter.voter_score }}</td>
                <td><a href="{% url 'voter_detail' voter.pk %}">View Details</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}