<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

        {% block content %}
        <h1>About Confucius</h1>
        
        <p>
            Confucius, born as Kong Qiu (孔子), was a Chinese philosopher and teacher from whom Confucianism takes its name. He is known for emphasizing ethical and moral conduct, social harmony, the importance of education, and the cultivation of virtue to create a stable and well-ordered society and government. His core ideas, such as filial piety (love and duty to one's family) and meritocracy, are preserved in his collected teachings, the Analects.
        </p>
        <p>
            This page is created by Amy H., a student at Boston University. 
        </p>
        {% endblock %}