<!-- quotes/templates/quotes/show_all.html -->
{% extends 'quotes/base.html' %}

    {% block content %}
        <h2>Quotes by Confucius</h2>
        
        <ul>
            {% for quote in quotes %}
            <li>"{{ quote }}</li>
            {% endfor %}
        </ul>

        <h2>Images of Confucius</h2>

        <ul>
            {% for image in images %}
            <div class="gallery">
                <a target="_blank" href="{{ image }}">
                    <img src="{{ image }}" alt="Confucius" width="200"/>
                </a>
            </div>
            {% endfor %}
        </ul>

        {% endblock %}
