<!-- mini_insta/templates/mini_insta/base.html -->
 <!-- by Amy Ho, aho@bu.edu -->
{% load static %}

<html>
   <head>
       <title>Mini Instagram</title>
       <link rel="stylesheet" href="{% static 'insta.css' %}">
   </head>

   <body>
       <nav>
           <!-- <li><a href="{% url 'show_all_profiles' %}">Home Page</a></li> -->
       </nav>
        <!-- scriplet code -->
       {% block content %}
       {% endblock %}

       <!-- footer -->
        <footer class="site-footer">
            <div class="footer-content">
                <a href="{% url 'show_all_profiles' %}" class="footer-link">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIC02bIuhLOYHHA0btsxc4THlcwRQJSwrnMw&s" width="32" height="32">
                </a>

                {% if profile %}
                <a href="{% url 'create_post' profile.pk %}" class="footer-link">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkoxKFrM214HiJsJ13DqKYQSYIPBuHGqNFjg&s" width="32" height="32">
                </a>
                {% endif %}
            </div>
        </footer>
   </body>
</html>