<!-- mini_insta/login.html -->
 <!-- by Amy Ho, aho@bu.edu -->

 {% extends 'mini_insta/base.html' %}

 {% block content %}
 <h2>Login</h2>
 
 <form method="post">
     {% csrf_token %}
     {{ form.as_p }}
     
     <!-- hidden field to redirect after login -->
     <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
     
     <button type="submit">Login</button>
 </form>

 <p>Don't have an account? <a href="{% url 'create_profile' %}">Create one here</a></p>
 {% endblock %}
 